<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2luJUMzJUE5bWF8ZW58MHx8MHx8fDA%3D)">
  Save any kind of movies
</div>


<div class="banner-lists">
  <h1><strong>All lists</strong></h1>
  <button type="button" class="btn btn-success"><%= link_to "Add a new list", new_list_path %></button>
</div>

<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <%= image_tag("matrix.jpg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <%= link_to 'View List', list_path(list), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
